### **`Problem-1:`** Write a Python function that takes a list and returns a new list with unique elements of the first list.

**Exercise 1:**

Input:

```bash
[1,2,3,3,3,3,4,5]
```

Output:

```bash
[1, 2, 3, 4, 5]
```

In [ ]:
given = [1,2,3,3,3,3,4,5]
print(list(set(given)))

[1, 2, 3, 4, 5]

### **`Problem-2:`** Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

**Example 1:**

Input:
```bash
green-red-yellow-black-white
```

Output:
```bash
black-green-red-white-yellow
```

In [ ]:
# Write code here
given = "green-red-yellow-black-white"
str = given.split("-")
print("-".join(sorted(str)))

black-green-red-white-yellow

### **`Problem 3:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

```
Sample String : 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
Expected Output :
No. of Upper case characters :  9
No. of Lower case Characters :  47
```

In [ ]:
# Write code here
given = "CampusX is an Online Mentorship Program fOr EnginEering studentS."
upper = 0
lower = 0
for i in given:
  if i.isupper():
    upper +=1
  elif i.islower():
    lower +=1
print(f"upper:{upper}\t lower:{lower}")

upper:9	 lower:47

### **`Problem 4:`** Write a Python program to print the even numbers from a given list.
```
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]
```

In [ ]:
# Write code here

### **`Problem 5:`** Write a Python function to check whether a number is perfect or not.

A Perfect number is a number that is half the sum of all of its positive divisors (including itself).

Example :

```
The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6.
Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6.

The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.
```

In [11]:
for i in range(1,30):
  sum = 0
  for j in range(1,i+1):
    if i % j == 0:
      sum += j
  if sum/2  == i:
    print(i,"A perfect number!")
  else:
    print(i,"alas!")

1 alas!
2 alas!
3 alas!
4 alas!
5 alas!
6 A perfect number!
7 alas!
8 alas!
9 alas!
10 alas!
11 alas!
12 alas!
13 alas!
14 alas!
15 alas!
16 alas!
17 alas!
18 alas!
19 alas!
20 alas!
21 alas!
22 alas!
23 alas!
24 alas!
25 alas!
26 alas!
27 alas!
28 A perfect number!
29 alas!

### **`Problem-6:`** Write a Python function to concatenate any no of dictionaries to create a new one.

```
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [17]:
# Write code here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
def merger_dict(*args):
  d = {}
  for i in args:
    d.update(i)
  print(d)
merger_dict(dic1,dic2,dic3)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

`Problem-7` Write a python function that accepts a string as input and returns the word with most occurence.

```
Input:
hello how are you i am fine thank you
```

```
Output
you -> 2
```

In [40]:
# Write code here
str = "hello how are you i am fine fine fine thank you"
d = {}
for i in str.split():
  d[i] = d.get(i,0) +1
print(d.keys())
max_val = 0
max_key = ""
for i in d:
  if d[i] >= max_val:
    max_key = i
    max_val= d[i]
print(max_key,max_val)

dict_keys(['hello', 'how', 'are', 'you', 'i', 'am', 'fine', 'thank'])
fine 3

`Problem-8` Write a python function that receives a list of integers and prints out a histogram of bin size 10

```
Input:
[13,42,15,37,22,39,41,50]
```

```
Output:
{11-20:2,21-30:1,31-40:2,41-50:3}
```

In [ ]:
import math

given = [13, 42, 15, 37, 22, 39, 41, 50]

lower_limit = math.floor(min(given) / 10) * 10
upper_limit = math.ceil(max(given) / 10) * 10

str = [lower_limit]
i = lower_limit
while i < upper_limit - 10:
    i = i + 10
    str.append(i)
print(str)

d = {}
for i in str:
    matches = []
    for j in given:
        if j > i and j < (i + 10):
            matches.append(j)

    d[f"{i+1}-{i+10}"] = len(matches)

print(d)

`Problem-9` Write a python function that accepts a list of 2D co-ordinates and a query point, and then finds the the co-ordinate which is closest in terms of distance from the query point.

```
List of Coordinates
[(1,1),(2,2),(3,3),(4,4)]
Query Point
(0,0)
```

```
Output
Nearest to (0,0) is (1,1)
```

In [52]:
# Write code here
given = [(1,1),(2,2),(3,3),(4,4)]
query = (0,0)
min_distance = float("inf")
target_coordinate = [0,0,]
for i,j in given:
  distance = ((i-query[0])**2 + (j-query[1])**2)**0.5
  if distance < min_distance:
    min_distance = distance
    target_coordinate[0] = i
    target_coordinate[1] = j
print(f"Nearest to {query} is {tuple(target_coordinate)}")
# or
def shortest_dist(points,quey):
  temp = []
  for i in points:
    distance = ((i[0] - query[0])**2 + (i[1]- query[1])**2) ** 0.5
    temp.append(distance)

  print(sorted(list(enumerate(temp)),key=lambda x:x[1])[0][0])
  return points[sorted(list(enumerate(temp)),key=lambda x:x[1])[0][0]]

shortest_dist(given,query)

Nearest to (0, 0) is (1, 1)
0

(1, 1)

`Problem-10`:Write a python program that receives a list of strings and performs bag of word operation on those strings

https://en.wikipedia.org/wiki/Bag-of-words_model

In [69]:
# Write code here
# bag of words is an algo to convert text into numbers
def bow(L):
  vocab = set()
  for i in L:
    vocab.update(i.split())
  print(vocab)

  result = []
  for i in L:
    result.append([])
    for j in vocab:
      result[len(result)-1].append(i.count(j))
  print(result)
L = [
    'cat mat rat cat',
    'sat bat fat cat rat',
    'pat cat mat rat'
]
bow(L)

{'bat', 'sat', 'fat', 'rat', 'pat', 'cat', 'mat'}
[[0, 0, 0, 1, 0, 2, 1], [1, 1, 1, 1, 0, 1, 0], [0, 0, 0, 1, 1, 1, 1]]

###`Problem 11:` Write a Python program to add three given lists using Python map and lambda.

In [74]:
# Write code here
l1 = [1,2,3]
l2 = [4,5,6]
l3 = [7,8,9]
result = list(map(lambda x,y,z:x+y+z,l1,l2,l3))
print(result)

[12, 15, 18]

###`Problem-12:`Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.
`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,2,9,64,625,-]
```

In [79]:
# Write code here
given = [1,2,3,4,5,6]
result = []
for i in range(0,len(given)):
  result.append(given[i]**i)
print(result)
# or
res = list(map(lambda x,y:x**y,given,range(len(given))))
print(res)

[1, 2, 9, 64, 625, 7776]
[1, 2, 9, 64, 625, 7776]

###`Problem-13` Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [90]:
# Write code here
str = "hwsvxywxwgcuiSJKwwlchDJDYHGJluiwhcywasajh"
vowels = list(filter(lambda char:char.lower() in "aeiou",str))
# or
vowels = list(filter(lambda x:True if x.lower() in 'aeiou' else False,str))
print(vowels)

['u', 'i', 'u', 'i', 'a', 'a']

`Problem-14`: Use reduce to convert a 2D list to 1D

In [91]:
# Write code here
ini_list = [
    [1,2,3],
    [3,6,7],
    [7,5,4]]
import functools
functools.reduce(lambda x,y:x+y,ini_list)

[1, 2, 3, 3, 6, 7, 7, 5, 4]

`Problem 15`- A dictionary contains following information about 5 employees:
- First name
- Last name
- Age
- Grade(Skilled,Semi-skilled,Highly skilled)<br>
Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled

In [93]:
# Write code here
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }

]

In [94]:
list(map(lambda x:x['fname'] + ' ' + x['lname'],list(filter(lambda x:True if x['grade'] == 'highly-skilled' else False,employees))))

['Neha Singh', 'Abhinav Sharma']