###`Problem 1:` Combine two lists index-wise(columns wise)

Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

`Given List:`
```
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
```

`Output:`
```
[['M','y'], ['na', me'], ['i', 's'], ['Kh', 'an']]
```

In [3]:
# Write code here
li1 = ["M", "na", "i", "Kh"]
li2 = ["y", "me", "s", "an"]
li3 = []
for i,j in zip(li1,li2):
  li3.append([i,j])
print(li3)

[['M', 'y'], ['na', 'me'], ['i', 's'], ['Kh', 'an']]

### `Problem 2:` Add new item to list after a specified item
Write a program to add item 7000 after 6000 in the following Python List
```
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
```
`Output:`
```
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
```

In [4]:
# Write code here
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

###`Problem 3:` Update no of items available

Suppose you are given a list of candy and another list of same size representing no of items of respective candy.

i.e -  
```
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
```

Write a program to show no. of items of each candy type.

`Output:`

```
Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32

```

In [5]:
# Write code here
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
for i,j in zip(candy_list,no_of_items):
  print(f"{i}-{j}")

Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32

###`Problem 4:` Running Sum on list
Write a program to print a list after performing running sum on it.

i.e:

`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,3,6,10,15,21]
```

In [ ]:
# Write code here

###`Problem 5:` You are given a list of integers. You are asked to make a list by running through elements of the list by adding all elements greater and itself.

i.e. Say given list is `[2,4,6,10,1]`
resultant list will be `[22,20,10,23]`.

For 1st element `2` ->> these are greater `(4+6+10)` values and `2` itself so on adding becomes `22`.

For 2nd element `4` ->> greater elements are `(6, 10)` and `4` itself, so on adding `20`

like wise for all other elememts.

`[2,4,6,10,1]`-->`[22,20,16,10,23]`

In [6]:
# Write code here
given = [2,4,6,10,1]
ans = []

for i in given:
  sum = i
  for j in given:
      if j>i:
        sum = sum+j
  ans.append(sum)
print(ans)

[22, 20, 16, 10, 23]

###`Problem 6:` Find list of common unique items from two list. and show in increasing order

`Input`

```
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
```

`Output:`
```
[34, 67, 89]
```

In [8]:
# Write code here
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
ans = []
for i in num1:
  if i in num2 and i not in ans:
    ans.append(i)
ans.sort()
print(ans)

[34, 67, 89]

###`Problem 7:` Sort a list of alphanumeric strings based on product value of numeric character in it. If in any string there is no numeric character take it's product value as 1.

`Input:`
```
['1ac21', '23fg', '456', '098d','1','kls']
```

`Output:`
```
['456', '23fg', '1ac21', '1', 'kls', '098d']

```

In [19]:
# Write code here
given = ['1ac21', '23fg', '456', '098d','1','kls']
products = []
for i in given:
  prod = 1
  for j in i:
    if j.isdigit():
      prod = prod * int(j)
  products.append(prod)

print(sorted(list(zip(given,products)),reverse=True))
ans = []

for i,j in sorted(list(zip(given,products)),reverse=True):
  ans.append(i)
print(ans)

[('kls', 1), ('456', 120), ('23fg', 6), ('1ac21', 2), ('1', 1), ('098d', 0)]
['kls', '456', '23fg', '1ac21', '1', '098d']

`Problem 8:` Split String of list on K character.

**Example :**

Input:
```bash
['CampusX is a channel', 'for data-science', 'aspirants.']
```

Output:
```bash
['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']
```

In [22]:
# Write code here
li = ['CampusX is a channel', 'for data-science', 'aspirants.']
k = " "
ans = []
for i in li:
  ans.extend(i.split(k))
print(ans)

['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']

### `Problem 9:` Convert Character Matrix to single String using string comprehension.

**Example 1:**

Input:
```bash
[['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
```

Output:
```bash
campux is best channel
```

In [24]:
# Write code here
given = [['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
li = [ "".join(i) for i in given]
print(" ".join(li))

campux is best channel

### `Problem 10:` Add Space between Potential Words.

**Example:**

Input:

```bash
['campusxIs', 'bestFor', 'dataScientist']
```

Output:
```bash
['campusx Is', 'best For', 'data Scientist']
```

In [27]:
# Code here
given = ['campusxIs', 'bestFor', 'dataScientist']
ans = []
for i in given:
  str = ""
  for j in i:
    if j.isupper():
      str = str + " " + j
    else:
      str = str+j
  ans.append(str)
print(" ".join(ans))

campusx Is best For data Scientist

### `Problem 11:` Write a program that can perform union operation on 2 lists

**Example:**

Input:

```bash
[1,2,3,4,5,1]
[2,3,5,7,8]
```

Output:
```bash
[1,2,3,4,5,7,8]
```

In [28]:
# Write code here
li1 = [1,2,3,4,5,1]
li2 = [2,3,5,7,8]
ans = []
for i in li1:
  if i not in ans:
    ans.append(i)
for i in li2:
  if i not in ans:
    ans.append(i)

print(ans)

[1, 2, 3, 4, 5, 7, 8]

### `Problem 12:` Write a program that can find the max number of each row of a matrix

**Example:**

Input:

```bash
[[1,2,3],[4,5,6],[7,8,9]]
```

Output:
```bash
[3,6,9]
```

In [29]:
# Write code here
given = [[1,2,3],[4,5,6],[7,8,9]]
ans = []
for i in given:
   ans.append(max(i))
print(ans)

[3, 6, 9]

### `Problem 13:` Write a list comprehension to print the following matrix

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [38]:
# Write code here
li = [[j + 3*i for j in range(0,3)] for i in range(0,3)]
print(li)

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

### `Problem 14:` Write a list comprehension that can transpose a given matrix

matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

[1, 4, 7]<br>
[2, 5, 8]<br>
[3, 6, 9]<br>

In [46]:
# Write code here
matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]
ans = []
for i in range(0,len(matrix)):
  ans.append([j[i] for j in matrix])

print(ans)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

### `Problem 15:` Write a list comprehension that can flatten a nested list

Input<br>
matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

Output:<br>
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [55]:
# Write code here
matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]
[ item for row in matrix for item in row]

[1, 2, 3, 4, 5, 6, 7, 8, 9]